In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/rminkah/STAT222/master/GHApparel.csv')

In [5]:
data

,Customer,Type of Customer,Items,Net Sales,Method of Payment,Gender,Marital Status,Age,Unnamed: 8
0,1,Regular,10,129.10,MasterCard,Male,Divorced,61,NaN
1,2,Promotional,1,275.47,Visa,Female,Married,27,NaN
2,3,Promotional,3,104.35,Visa,Male,Married,51,NaN
3,4,Regular,1,205.54,MasterCard,Female,Divorced,87,NaN
4,5,Promotional,6,292.64,MasterCard,Male,Divorced,47,NaN
...,...,...,...,...,...,...,...,...,...
495,496,Promotional,7,211.21,MasterCard,Female,Divorced,31,NaN
496,497,Regular,2,149.35,Proprietary Card,Male,Divorced,80,NaN
497,498,Promotional,4,198.25,MasterCard,Female,Divorced,41,NaN
498,499,Regular,8,123.56,Discover,Male,Divorced,58,NaN
499,500,Promotional,5,114.73,Discover,Female,Married,32,NaN

In [1]:
import os

notebook_path = os.getcwd()
print(notebook_path)

C:\Users\ASUS\project